
/*   */
body {
  background-color: #111111;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

div.container {
  background-color: #101010;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 20px;
}

div.content {
  padding-right: 50px;
}

div.exp_item {
  margin-left: 1px;
  padding-bottom: 20px;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
  border-color: #343434;
}

div.port_links {
  text-align: end;
  padding: 20px;
}
div.port_links a {
  text-decoration: none;
  font-size: small;
  /* border: 1px solid #343434; */
  border-radius: 8px;
  padding: 8px;
  margin-left: 15px;
}
div.port_links i {
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

#v-menu-tab a {
  color: #808080;
  font-weight: bold;
}

#v-menu-tab a.active {
  color: white;
  background-color: #343434;
}



