body {
  background-color: white;
  padding: 20px 0px 100px 0px;
}

img.profile {
  width: 150px;
  height: 150px;
}
img.link_logo {
  width: relative;
  height: 12px;
}
img.app_icon {
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 5px gray;
}

a.link {
  margin: 4px;
  padding: 3px 5px 3px 5px;
  background-color: lightgray;
  border-radius: 3px;
}
a.link span {
  text-decoration: underline;
}

div.app_row {
  background-color: transparent; /* temp */
}

div.app_box {
  background-color: whitesmoke; /* temp */
  margin: 10px 0px 10px 0px;
  padding: 12px;
  height: 200px;
}
