
/*   */
body {
  background-color: #28282B;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

div.container {
  background-color: #101010;
}

div.content {
  padding-right: 50px;
}

#v-menu-tab a {
  color: #343434;
  font-weight: bold;
}

#v-menu-tab a.active {
  color: white;
  background-color: #343434;
}



