/*   */

body {
  background-color: black;
}

img.profile {
  width: 150px;
  height: 150px;
}
img.app_icon {
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 5px gray;
}

a.link {
  margin: 2px;
  padding: 3px 5px 3px 5px;
  background-color: lightgray;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}
img.link_logo {
  width: relative;
  height: 15px;
}

div.app_row {
  background-color: transparent; /* temp */
}

div.app_box {
  background-color: whitesmoke; /* temp */
  margin: 10px 0px 10px 0px;
  padding: 12px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  /* small screen */
  body {
    padding: 20px 10px 100px 10px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  span.badge {
    font-size: 18px;
  }

  div.info_skills {
    text-align: left;
  }
}

@media only screen and (min-width: 601px) {
  /* large screen */
  body {
    padding: 20px 0px 100px 0px;
    font-size: 20px;
  }

  div.info_skills {
    text-align: left;
  }
}
