<div style="text-align: justify">
  <p>
    Hello! My name is Brylle and I enjoy creating mobile apps. My interest in mobile app development started back in
    2012 when I took an pioneering
    project in my first job.
  </p>
  <p>
    Fast-forward to today, and I've had the previlege to work on several apps including a retail field-sevice
    solutions,
    camera rental, car show,
    dating, call recorder, restaurant systems and video relay.
  </p>
  <p>
    Here are a few technologies I have worked with:
  </p>
</div>

<div class="row">

  <!-- iOS -->
  <div class="col-md-4" style="padding-bottom: 30px;">
    <h4>iOS</h4>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <div class="col">
        Swift
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <div class="col">
        Objective C
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        UIKit & Storyboard
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        SwiftUI
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fas fa-laptop-code"></i>
      </div>
      <div class="col">
        XCode
      </div>
    </div>
  </div>

  <!-- Flutter -->
  <div class="col-md-4" style="padding-bottom: 30px;">
    <h4>Flutter</h4>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <div class="col">
        Dart
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fas fa-laptop-code"></i>
      </div>
      <div class="col">
        Android Studio
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fas fa-laptop-code"></i>
      </div>
      <div class="col">
        VScode
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-mobile" aria-hidden="true"></i>
      </div>
      <div class="col">
        iOS
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-mobile" aria-hidden="true"></i>
      </div>
      <div class="col">
        Android
      </div>
    </div>
  </div>

  <!-- Firebase -->
  <div class="col-md-4" style="padding-bottom: 30px;">
    <h4>Firebase</h4>


    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Authentication
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Firestore
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Realtime DB
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Storage
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Functions
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Messaging
      </div>
    </div>
  </div>

</div>