<div style="text-align: justify">
  <p>
    Hello! My name is Brylle and I enjoy creating mobile apps. My interest in mobile app development started back in 2012 when I took an pioneering
    project in my first job.
  </p>
  <p>
    Fast-forward to today, and I've had the previlege to work on several apps including a retail field-sevice solutions, camera rental, car show,
    dating, call recorder, restaurant systems and video relay.
  </p>
  <p>
    Here are a few technologies I have worked with:
  </p>
  <div class="row" style="text-align: center;">
    <div class="col-md-4">
      iOS
      <ul class="list-group">
        <li class="list-group-item">Swift</li>
        <li class="list-group-item">Objective C</li>
        <li class="list-group-item">XCode</li>
        <li class="list-group-item">UIKit / Storyboard</li>
        <li class="list-group-item">SwiftUI</li>
      </ul>
    </div>
    <div class="col-md-4">
      Flutter
      <ul class="list-group">
        <li class="list-group-item">Dart</li>
        <li class="list-group-item">Android Studio</li>
        <li class="list-group-item">VSCode</li>
        <li class="list-group-item">iOS</li>
        <li class="list-group-item">Android</li>
      </ul>
    </div>
    <div class="col-md-4">
      Firebase
      <ul class="list-group">
        <li class="list-group-item">Authentication</li>
        <li class="list-group-item">Firestore</li>
        <li class="list-group-item">Realtime DB</li>
        <li class="list-group-item">Storage</li>
        <li class="list-group-item">Functions</li>
        <li class="list-group-item">Messaging</li>
      </ul>
    </div>
  </div>
</div>
