
<div class="" style="max-width: 540px;">
  <div class="row">

    <div class="row">
      <h1>Brylle Seraspe</h1>
      <p class="card-text">
        Hey, I'm Brylle. I build mobile apps.
      </p>
    </div>

    <div class="col-md-4 align-center" style="padding: 20px;">
      <img src="images/bdst-200p.jpg" class="img-fluid rounded-circle" alt="..." />
    </div>

    <div class="col-md-8" style="padding: 20px;">
      <div class="">
        <p class="card-text" style="text-align: justify;">
          I'm a mobile app developer specializing in iOS Native and Flutter.
          I've been in the industry for more than 10 years now.
        </p>
      </div>
    </div>
  </div>
</div>

<br />
