<h2>Brylle Seraspe</h2>
<br />

<div class="" style="max-width: 540px;">
  <div class="row">
    <div class="col-md-4 align-center" style="padding: 20px;">
      <img src="images/bdst-200p.jpg" class="img-fluid rounded-circle" alt="..." />
    </div>
    <div class="col-md-8" style="padding: 20px;">
      <div class="">
        <h5 class="">
            Hey, I'm Brylle. I build mobile apps.
        </h5>
        <p class="card-text">
          I'm a mobile app developer specializing in iOS native and Flutter.
          I've been in the industry for more than 10 years now.
        </p>
      </div>
    </div>
  </div>
</div>

<br />
