<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

    <div class="row">
      <div class="row">
        <h1>Brylle Seraspe</h1>
        <p class="card-text">
          Hey, I'm Brylle. I build mobile apps.
        </p>
      </div>

      <div class="col-md-4 justify-content-center" style="padding: 20px;">
        <img src="images/bdst-img-1.jpg" class="img-fluid rounded-circle" alt="..." style="max-height: 200px;" />
      </div>

      <div class="col-md-8" style="padding: 20px;">
        <div class="">
          <p class="card-text" style="text-align: justify;">
            I'm a mobile app developer specializing in iOS Native and Flutter.
            I've been in the industry for more than 10 years now.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<br />