<!-- Personal -->

<div class="row">
    <h3>Personal</h3>

    <!-- flixbook -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/flix/images/flix.jpg" class="img-fluid rounded-start" alt="..." style="height: auto;">
            </button>
            <div class="card-body">
                <h5 class="card-title">Flixbook</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">FLutter</span>
            <span class="badge text-bg-dark">Dart</span>
            <span class="badge text-bg-dark">Mobile</span>
            <span class="badge text-bg-dark">TMDb API</span>
            <span class="badge text-bg-dark">Google Play</span>
        </div>
    </div>

    <!-- portfolio -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/githubio/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: auto;">
            </button>
            <div class="card-body">
                <h5 class="card-title">Online Portfolio</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Web</span>
            <span class="badge text-bg-dark">GitHub.io</span>
            <span class="badge text-bg-dark">Bootstrap</span>
            <span class="badge text-bg-dark">Font Awesome</span>
            <span class="badge text-bg-dark">jQuery</span>
        </div>
    </div>
</div>

<br><br>

<!-- Clients' -->

<div class="row">
    <h3>Clients'</h3>

    <!-- ntouch -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/ntouch/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: auto;">
            </button>
            <div class="card-body">
                <h5 class="card-title">ntouch</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Localization</span>
            <span class="badge text-bg-dark">UI</span>
            <span class="badge text-bg-dark">Objective C</span>
            <span class="badge text-bg-dark">Swift</span>
            <span class="badge text-bg-dark">Flutter</span>
            <span class="badge text-bg-dark">Dart</span>
        </div>
    </div>

    <!-- eatOS -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/eatos/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: 250px;">
            </button>
            <div class="card-body">
                <h5 class="card-title">eatOS</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Flutter</span>
            <span class="badge text-bg-dark">Dart</span>
            <span class="badge text-bg-dark">SQLite</span>
            <span class="badge text-bg-dark">Networking</span>
            <span class="badge text-bg-dark">GraphQL</span>
            <span class="badge text-bg-dark">JSON</span>
            <span class="badge text-bg-dark">Restaurant</span>
        </div>
    </div>

    <!-- Call Recorder Pro -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/simplex/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: 300px;">
            </button>
            <div class="card-body">
                <h5 class="card-title">Call Recorder Pro</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">SwiftUI</span>
            <span class="badge text-bg-dark">Swift</span>
            <span class="badge text-bg-dark">Subscriptions</span>
            <span class="badge text-bg-dark">Twilio</span>
            <span class="badge text-bg-dark">Firebase</span>
            <span class="badge text-bg-dark">MVVM</span>
        </div>
    </div>

    <!-- Meet A Sikh -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/meetasikh/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: 300px;">
            </button>
            <div class="card-body">
                <h5 class="card-title">Meet A Sikh</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Push Notifications</span>
            <span class="badge text-bg-dark">APNs</span>
            <span class="badge text-bg-dark">Firebase</span>
            <span class="badge text-bg-dark">Realtime DB</span>
            <span class="badge text-bg-dark">Subscriptions</span>
        </div>
    </div>

    <!-- SHOWOFF Showboards -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/showoff/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: 350px;">
            </button>
            <div class="card-body">
                <h5 class="card-title">SHOWOFF Showboards</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Apple's Guidelines</span>
            <span class="badge text-bg-dark">TestFlight</span>
            <span class="badge text-bg-dark">App Store review</span>
        </div>
    </div>

    <!-- Camera Rental Centre (SG) -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/camerarentsg/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: auto;">
            </button>
            <div class="card-body">
                <h5 class="card-title">Camera Rental Centre (SG)</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">iOS Upgrade</span>
            <span class="badge text-bg-dark">Dark Mode</span>
            <span class="badge text-bg-dark">Push Notifications</span>
            <span class="badge text-bg-dark">APNs</span>
            <span class="badge text-bg-dark">Firebase Messaging</span>
        </div>
    </div>

    <!-- ESP:Focus -->
    <div class="col-md-6" style="padding-bottom: 30px;">
        <div class="card">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off"
                style="height: 200px; overflow: hidden;">
                <img src="apps/espfocus/screen.jpg" class="img-fluid rounded-start" alt="..." style="height: auto;">
            </button>
            <div class="card-body">
                <h5 class="card-title">ESP:Focus</h5>
                <p class="card-text"></p>
            </div>
        </div>
        <div>
            <span class="badge text-bg-dark">Memory Management</span>
            <span class="badge text-bg-dark">ARC</span>
            <span class="badge text-bg-dark">Concurrency</span>
            <span class="badge text-bg-dark">SQLite</span>
            <span class="badge text-bg-dark">FTP</span>
            <span class="badge text-bg-dark">HTTP</span>
            <span class="badge text-bg-dark">SOAP</span>
            <span class="badge text-bg-dark">RESTful</span>
            <span class="badge text-bg-dark">XML</span>
            <span class="badge text-bg-dark">JSON</span>
            <span class="badge text-bg-dark">GPS</span>
            <span class="badge text-bg-dark">SDKs</span>
            <span class="badge text-bg-dark">Cocoapod</span>
            <span class="badge text-bg-dark">XCTest</span>
            <span class="badge text-bg-dark">TestFlight</span>
            <span class="badge text-bg-dark">App Store</span>
        </div>
    </div>

</div>