
<!--  -->
<div class="row exp_item" style="margin-bottom: 30px;">
    <div class="col-12">
  
      <div class="row">
        <div>
          <span class="text-light">iOS Developer</span>
          <span class="text-info">@ HP Outsourcing Inc</span>
        </div>
        <div>
          <small class="text-muted">Jul 2012 - Aug 2015</small>
          <cite> - Full-time</cite>
        </div>
      </div>

      <!-- accomplishments -->
      
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Worked for a US based client company with daily communication and team collaboration.
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Optimized app memory management by implementing ARC and fixed memory leaks utilizing Allocations Instrument.
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Merged iPhone and iPad projects to one universal project.
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Implemented concurrent files download.
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Created new features and fixed bugs.
        </div>
      </div>
  
    </div>
  </div>
