<!--  -->
<div class="row" style="margin-bottom: 30px;">
  <div class="col-12">

    <div class="row">
      <div>
        <span class="text-light">iOS Developer</span>
        <span class="text-info">@ Every Store Perfect</span>
      </div>
      <div>
        <small class="text-muted">Sep 2015 - Dec 2019</small>
        <cite> - Full-time</cite>
      </div>
    </div>

    <!-- accomplishments -->

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        ESP:Focus: An app designed for field service workers as an end-to-end solution for their schedules, documents,
        assignments, data and photo capture, time & expense recording needs.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Solved issues with concurrency on operations among SQLite, FTP, HTTP (SOAP / RESTful) and local files.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Handled XML and JSON data.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Implemented real-time location tracking that helped users locate nearest target stores as well as track their
        movements in preference of their management.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Implemented in-app logging of user actions and server requests; and added GPS coordinates metadata on captured
        photos to help diagnose crash and other bug reports.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Integrated third-party SDKs utilizing Cocoapod as well as manual integration.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Created custom UI including video player, audio player and photo capture.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Researched technologies for possible approaches to new features, updates and bug fixes.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Implemented tests utilizing XCTest.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Co-managed app versions upload to TestFlight and App Store.
      </div>
    </div>

  </div>
</div>