<!--  -->
<div class="row" style="margin-bottom: 30px;">
  <div class="col-12">

    <div class="row">
      <div>
        <span class="text-light">iOS Developer</span>
        <span class="text-info">@Camera Rental Centre (SG)</span>
      </div>
      <div>
        <small class="text-muted">Jan 2020 - Mar 2020</small>
        <cite> - Freelance</cite>
      </div>
    </div>

    <!-- accomplishments -->

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Upgraded the project to work on the iOS 13 version as well as fixed several bugs.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Implemented Dark Mode UI support
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Implemented push notifications through Firebase Messaging and APNs (Apple Push Notification service)
      </div>
    </div>

  </div>
</div>