
<!--  -->
<div class="row exp_item" style="margin-bottom: 30px;">
    <div class="col-12">
  
      <div class="row">
        <div>
          <span class="text-light">iOS Developer</span>
          <a href="https://apps.apple.com/ph/app/showoff-showboards/id1508955692" target="_blank"
            style="text-decoration: none;">@ SHOWOFF Showboards</a>
        </div>
        <div>
          <small class="text-muted">Jan 2020 - May 2020</small>
          <cite> - Freelance</cite>
        </div>
      </div>

      <!-- accomplishments -->

      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Revamped app following Apple`s Guidelines.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Managed versions uploaded to TestFlight.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Successfully solved the client`s #1 problem for the app to pass Apple`s App Store review.
        </div>
      </div>
  
    </div>
  </div>