
<!--  -->
<div class="row" style="margin-bottom: 30px;">
    <div class="col-12">
  
      <div class="row">
        <div>
          <span class="text-light">iOS Developer</span>
          <span class="text-info">@ Simplex Software Pty Ltd</span>
        </div>
        <div>
          <small class="text-muted">Sep 2020 - Apr 2021</small>
          <cite> - Freelance</cite>
        </div>
      </div>

      <!-- accomplishments -->

      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Call Recorder Pro: A phone call recording app.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Completely developed the app using Swift, SwiftUI and MVVM pattern.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Integrated Firebase and Twilio for OTP and Phone call functionalities.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Implemented App Store subscriptions.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Managed TestFlight / App Store upload and approval.
        </div>
      </div>
  
    </div>
  </div>