<!--  -->
<div class="row exp_item" style="margin-bottom: 30px;">
  <div class="col-12">

    <div class="row">
      <div>
        <span class="text-light">Flutter Developer</span>
        <a href="https://www.linkedin.com/company/eigital/?originalSubdomain=ph" target="_blank"
          style="text-decoration: none;">
          @ eigital
        </a>
      </div>
      <div>
        <small class="text-muted">Dec 2021 - Jan 2023</small>
        <cite> - Freelance</cite>
      </div>
    </div>

    <!-- accomplishments -->

    <div class="row justify-content-center" style="margin: 10px;">
      <div class="card col-11">
        <div class="card-body">
          <p class="card-text" style="font-size: medium;">
            <small>
              <a target="_blank" href="https://www.eatos.com/">eatOS</a>
              is a Restaurant System with multiple apps including Point of Sale, Customer Facing Display, Kitchen
              Display, Analytics and Online Orders.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Solved the iOS issue they`ve been struggling with for months prior.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Diagnosed memory leaks issue based on prior experience.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Conducted candidates` technical background interview and skills assessment and onboarded new hires.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Created new features and debugged issues across multiple apps; reviewed GitHub pull requests.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Participated in daily Scrum. Using Monday.com: create tasks and discuss progress.
      </div>
    </div>

  </div>
</div>