
<!--  -->
<div class="row" style="margin-bottom: 30px;">
    <div class="col-12">
  
      <div class="row">
        <div>
          <span class="text-light">iOS & Flutter Developer</span>
          <span class="text-info">@ CoDev</span>
        </div>
        <div>
          <small class="text-muted">Dec 2021 - Jan 2023</small>
          <cite> - Full-time</cite>
        </div>
      </div>

      <!-- accomplishments -->

      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          ntouch: A video relay solution app for deaf and hard-of-hearing people owned by Sorenson
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Complete localization including UI adjustments.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Helped on the early development of its Flutter version.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Participated in daily Scrum. Using JIRA: claim, create tasks and discuss progress.
        </div>
      </div>
  
      <div class="row">
        <div class="col-1">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="col">
          Assisted in localization of SignTime: An app that enables customers to communicate with AppleCare and Retail Customer Care using sign language.
        </div>
      </div>
  
    </div>
  </div>