<!--  -->
<div class="row exp_item" style="margin-bottom: 30px;">
  <div class="col-12">

    <div class="row">
      <div>
        <span class="text-light">Project Owner / Developer</span>
        <span class="text-info">@ Personal</span>
      </div>
      <div>
        <small class="text-muted">Jan 2023 - Present</small>
        <cite> - Full-time</cite>
      </div>
    </div>

    <!-- accomplishments -->

    <div class="row justify-content-center" style="margin: 10px;">
      <div class="card col-11">
        <div class="card-body">
          <p class="card-text" style="font-size: medium;">
            <small>
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.bdstph.pcso_codex">PCSO CodeX</a>
              is a Philippine Charity Sweepstakes Lottery live results delivery and guide app.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Completely developed app through Google Play publishing. Created icons and other graphics with GIMP. Managing Google Ads.

      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Tech: Firebase Firestore, Messaging, Storage, Crashlytics, AdMob. Google Cloud Functions, Job Scheduler.
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </div>
      <div class="col">
        Languages: Dart, Python, Javascript
      </div>
    </div>

  </div>
</div>